<md-card class="login-form-component" align="center">
    <md-card-content align="center">
        <md-card-title-group>
            <md-card-title>Wellcome!</md-card-title>
        </md-card-title-group>
        <md-list align="left" >
            <h3 md-subheader [style.align]="'left'">Newer</h3>
            <div>
                <md-list-item *ngFor="let internshi of internships">
                    <md-icon md-list-avatar>work</md-icon>
                    <h4 md-line>{{internshi.role}} at {{internshi.companyName}}</h4>
                    <p md-line> {{internshi.compensation | currency:'BRL':true:'1.2-2'}} </p>
                </md-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
    </md-card-content>

    <md-card-actions align="center">

    </md-card-actions>
</md-card>