<md-card align="center">
    <md-card-content align="center">
        <md-card-title-group>
            <md-card-title>Bem-vindo!</md-card-title>
        </md-card-title-group>
        <md-list align="left" *ngIf="internships.length; else sorry">
            <span md-subheader>Novidades</span>
            <div *ngFor="let internship of internships">
                <internship-list-item [internship]="internship">
                    <internship-admin-buttons [internship]="internship">
                        <a md-icon-button [color]="internship.color" *ngIf="isLoggedIn()" [routerLink]="['/internship', 'detail', internship.id]">
                            <md-icon>more_horiz</md-icon>
                        </a>
                    </internship-admin-buttons>
                </internship-list-item>
            </div>
        </md-list>
        <ng-template #sorry>
            <p md-line>Desculpa, mas nós iremos achar o estágio pra você o mais rápido possível.</p>
        </ng-template>
    </md-card-content>

    <md-card-actions align="center">

    </md-card-actions>
</md-card>