<routed-component>
    <routed-header>Bem-vindo!</routed-header>
    <routed-body>
        <md-list align="left" *ngIf="internships.length; else sorry">
            <span md-subheader>Novidades</span>
            <div *ngFor="let internship of internships">
                <internship-list-item [internship]="internship">
                    <internship-admin-buttons [internship]="internship">
                        <a md-icon-button [color]="internship.color" *ngIf="isLoggedIn()" [routerLink]="['/internship', 'detail', internship.id]">
                            <md-icon>more_horiz</md-icon>
                        </a>
                    </internship-admin-buttons>
                </internship-list-item>
            </div>
        </md-list>
        <ng-template #sorry>
            <p md-line>Desculpa, mas nós iremos achar o estágio pra você o mais rápido possível.</p>
        </ng-template>
    </routed-body>
</routed-component>