<md-sidenav-container class="menu-sidenav-container">
  <md-toolbar>
    <button md-icon-button color="primary" (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <span class="remaining-space"></span>
    <h3>
      <a [routerLink]="['', 'home']">
        {{title}}
      </a>
    </h3>
    <span class="remaining-space"></span>
    <a [routerLink]="['','login']" md-icon-button color="primary" *ngIf="!loginService.isLoggedIn()">
      <md-icon>person_add</md-icon>
    </a>
    <button md-raised-button color="primary" [mdMenuTriggerFor]="menu" *ngIf="loginService.isLoggedIn()">{{user.firstName}}</button>
    <md-menu #menu>
      <button md-menu-item>Perfil</button>
      <button md-menu-item (click)="logout()">Logout</button>
    </md-menu>

  </md-toolbar>

  <md-sidenav #sidenav class="menu-sidenav">
    <sidenav-menu></sidenav-menu>
  </md-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>