<md-sidenav-container class="menu-sidenav-container">
  <md-toolbar>
    <button md-icon-button color="primary" (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <span class="remaining-space"></span>
    <h3>
      <a [routerLink]="['', 'home']">
        <img src="../assets/logo-h3.png" alt="Logo">
      </a>
    </h3>
    <span class="remaining-space"></span>
    <a [routerLink]="['','login']" md-icon-button color="primary" *ngIf="!loginService.isLoggedIn()">
      <md-icon>person_add</md-icon>
    </a>
    <button md-raised-button color="primary" [mdMenuTriggerFor]="menu" *ngIf="loginService.isLoggedIn()">{{user.firstName}}</button>
    <md-menu #menu>
      <a [routerLink]="['','profile']" md-menu-item>Perfil</a>
      <a [routerLink]="['','home']" md-menu-item (click)="logout()">Logout</a>
    </md-menu>
    <md-divider></md-divider>
  </md-toolbar>
  <md-sidenav #sidenav class="menu-sidenav">
    <sidenav-menu></sidenav-menu>
  </md-sidenav>

  <router-outlet></router-outlet>
</md-sidenav-container>