md-toolbar {
    background-color: #F0F0F0;
    opacity: 0.9;
    color: #4caf50;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.menu-sidenav-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.menu-sidenav {
    background-color: #F0F0F0;
    width: 15em;
}

.menu-title{
    padding-left: 1em;
}

a{
    text-decoration: none;
    color: #4caf50;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.remaining-space {
  flex: 1 1 auto;
}

img{
    height: 155px;
    margin-top: -30px;
}