.compensation{
    display: inline-block;
    position: relative;
    text-align: left;
    line-height: normal;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    align-items: center;
    color: rgba(0, 0, 0, 0.38);
}