.compensation{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgba(0, 0, 0, 0.38);
}

.row{
    text-align: left;
    display: inline-block;
    width: 70%;
}

.intenship-checkbox{
    float: right;
    margin-top: 0.9em;
}