<form [formGroup]="internshipForm" (submit)="submitInternship($event)">
  <routed-component>
    <routed-header>
      {{internship.id? "Editar estágio" : "Novo estágio"}}
    </routed-header>
    <routed-body>
      <md-input-container dividerColor="primary" align="start" [style.width]="'70%'">
        <input [style.width]="'80%'" mdInput formControlName="companyName" name="companyName" [(ngModel)]="internship.companyName"
          type="text" required placeholder="Empresa">
        <md-checkbox [style.float]="'right'" mdTooltip="O nome da sua empresa é confidencial?" [mdTooltipPosition]="'above'" name="isCompanyPrivate"
          formControlName="isCompanyPrivate" [(ngModel)]="internship.isCompanyPrivate" color="primary"></md-checkbox>
      </md-input-container>

      <md-input-container dividerColor="primary" align="start" [style.width]="'70%'">
        <input mdInput formControlName="role" name="role" [(ngModel)]="internship.role" type="text" required placeholder="Cargo">
      </md-input-container>

      <md-input-container dividerColor="primary" align="start" [style.width]="'70%'">
        <input mdInput formControlName="contact" name="email" [(ngModel)]="internship.contact" type="email" required placeholder="Email de contato">
      </md-input-container>

      <md-input-container dividerColor="primary" align="start" [style.width]="'70%'">
        <input mdInput formControlName="area" name="area" [(ngModel)]="internship.area" type="text" required placeholder="Area">
      </md-input-container>

      <md-input-container dividerColor="primary" align="start" [style.width]="'70%'">
        <textarea mdInput formControlName="description" name="description" [(ngModel)]="internship.description" required placeholder="Descrição"></textarea>
      </md-input-container>


      <autocomplete [style.width]="'70%'" [autocompleteList]="skills" [field]="'name'" [placeholder]="'Obrigatório'" [(value)]="internship.requiredSkills"></autocomplete>
      <autocomplete [style.width]="'70%'" [autocompleteList]="skills" [field]="'name'" [placeholder]="'Desejável'" [(value)]="internship.preferredSkills"></autocomplete>


      <div class="compensation row">
        <label>Bolsa estágio</label>
        <md-slider class="example-margin" [(value)]="internship.compensation" color="primary" [style.width]="'81%'" min="500" max="1800"
          step="25" thumbLabel="true" [(ngModel)]="internship.compensation" formControlName="compensation">
        </md-slider>
        <md-checkbox class="intenship-checkbox" mdTooltip="O valor da bolsa é confidencial?" [mdTooltipPosition]="'above'" name="isCompensationPrivate"
          formControlName="isCompensationPrivate" [(ngModel)]="internship.isCompensationPrivate" color="primary"></md-checkbox>
      </div>
      <br/>
    </routed-body>
    <routed-footer>
      <button md-button color="primary">Enviar</button>
      <a [routerLink]="['','home']" md-button color="warn">Cancelar</a>
    </routed-footer>
  </routed-component>
</form>