/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
    margin: 0;
    background-color: #3E9630;
    height: 100%;
    width: 100%;
}

.mat-sidenav-backdrop.mat-sidenav-shown{
    background-color: #000000;
    opacity: 0.15
}

md-card-title{
    color: #3E9630;
}

md-card{
    background-color: #F0F0F0;
    opacity: 0.9;

}

.mat-slider-track-fill{
    background-color: #4caf50 !important;
}

.mat-slider-thumb {
    background-color: #4caf50 !important;
}

.mat-slider-thumb-label {
    background-color: #4caf50 !important;
}

.cssload-loading {
    margin-top: 5rem;
    position: absolute;
    left: 50%;
    width: 19px;
    height: 19px;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.cssload-loading .cssload-dot {
    position: absolute;
    border-radius: 50%;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    background: rgb(240, 240, 240);
    animation: cssload-spin 2.375s 0s infinite both;
    -o-animation: cssload-spin 2.375s 0s infinite both;
    -ms-animation: cssload-spin 2.375s 0s infinite both;
    -webkit-animation: cssload-spin 2.375s 0s infinite both;
    -moz-animation: cssload-spin 2.375s 0s infinite both;
}

.cssload-loading .cssload-dot2 {
    position: absolute;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    background: rgb(240, 240, 240);
    animation: cssload-spin2 2.375s 0s infinite both;
    -o-animation: cssload-spin2 2.375s 0s infinite both;
    -ms-animation: cssload-spin2 2.375s 0s infinite both;
    -webkit-animation: cssload-spin2 2.375s 0s infinite both;
    -moz-animation: cssload-spin2 2.375s 0s infinite both;
}




@keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        transform: rotate(180deg);
    }
    25%,
    75% {
        box-shadow: 27px 0 0 rgb(240, 240, 240), -27px 0 0 rgb(240, 240, 240), 0 27px 0 rgb(240, 240, 240), 0 -27px 0 rgb(240, 240, 240), 19px -19px 0 rgb(240, 240, 240), 19px 19px 0 rgb(240, 240, 240), -19px -19px 0 rgb(240, 240, 240), -19px 19px 0 rgb(240, 240, 240);
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    }

    @-o-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        -o-transform: rotate(180deg);
    }
    25%,
    75% {
        box-shadow: 27px 0 0 rgb(240, 240, 240), -27px 0 0 rgb(240, 240, 240), 0 27px 0 rgb(240, 240, 240), 0 -27px 0 rgb(240, 240, 240), 19px -19px 0 rgb(240, 240, 240), 19px 19px 0 rgb(240, 240, 240), -19px -19px 0 rgb(240, 240, 240), -19px 19px 0 rgb(240, 240, 240);
    }
    100% {
        -o-transform: rotate(360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    }

    @-ms-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        -ms-transform: rotate(180deg);
    }
    25%,
    75% {
        box-shadow: 27px 0 0 rgb(240, 240, 240), -27px 0 0 rgb(240, 240, 240), 0 27px 0 rgb(240, 240, 240), 0 -27px 0 rgb(240, 240, 240), 19px -19px 0 rgb(240, 240, 240), 19px 19px 0 rgb(240, 240, 240), -19px -19px 0 rgb(240, 240, 240), -19px 19px 0 rgb(240, 240, 240);
    }
    100% {
        -ms-transform: rotate(360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    }

    @-webkit-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    25%,
    75% {
        box-shadow: 27px 0 0 rgb(240, 240, 240), -27px 0 0 rgb(240, 240, 240), 0 27px 0 rgb(240, 240, 240), 0 -27px 0 rgb(240, 240, 240), 19px -19px 0 rgb(240, 240, 240), 19px 19px 0 rgb(240, 240, 240), -19px -19px 0 rgb(240, 240, 240), -19px 19px 0 rgb(240, 240, 240);
    }
    100% {
        -webkit-transform: rotate(360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    }

    @-moz-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    25%,
    75% {
        box-shadow: 27px 0 0 rgb(240, 240, 240), -27px 0 0 rgb(240, 240, 240), 0 27px 0 rgb(240, 240, 240), 0 -27px 0 rgb(240, 240, 240), 19px -19px 0 rgb(240, 240, 240), 19px 19px 0 rgb(240, 240, 240), -19px -19px 0 rgb(240, 240, 240), -19px 19px 0 rgb(240, 240, 240);
    }
    100% {
        -moz-transform: rotate(360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    }

    @keyframes cssload-spin2 {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        transform: rotate(-180deg);
    }
    25%,
    75% {
        box-shadow: 51px 0 0 rgb(240, 240, 240), -51px 0 0 rgb(240, 240, 240), 0 51px 0 rgb(240, 240, 240), 0 -51px 0 rgb(240, 240, 240), 37px -37px 0 rgb(240, 240, 240), 37px 37px 0 rgb(240, 240, 240), -37px -37px 0 rgb(240, 240, 240), -37px 37px 0 rgb(240, 240, 240);
        background: transparent;
    }
    100% {
        transform: rotate(-360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    }

    @-o-keyframes cssload-spin2 {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        -o-transform: rotate(-180deg);
    }
    25%,
    75% {
        box-shadow: 51px 0 0 rgb(240, 240, 240), -51px 0 0 rgb(240, 240, 240), 0 51px 0 rgb(240, 240, 240), 0 -51px 0 rgb(240, 240, 240), 37px -37px 0 rgb(240, 240, 240), 37px 37px 0 rgb(240, 240, 240), -37px -37px 0 rgb(240, 240, 240), -37px 37px 0 rgb(240, 240, 240);
        background: transparent;
    }
    100% {
        -o-transform: rotate(-360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    }

    @-ms-keyframes cssload-spin2 {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        -ms-transform: rotate(-180deg);
    }
    25%,
    75% {
        box-shadow: 51px 0 0 rgb(240, 240, 240), -51px 0 0 rgb(240, 240, 240), 0 51px 0 rgb(240, 240, 240), 0 -51px 0 rgb(240, 240, 240), 37px -37px 0 rgb(240, 240, 240), 37px 37px 0 rgb(240, 240, 240), -37px -37px 0 rgb(240, 240, 240), -37px 37px 0 rgb(240, 240, 240);
        background: transparent;
    }
    100% {
        -ms-transform: rotate(-360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    }

    @-webkit-keyframes cssload-spin2 {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        -webkit-transform: rotate(-180deg);
    }
    25%,
    75% {
        box-shadow: 51px 0 0 rgb(240, 240, 240), -51px 0 0 rgb(240, 240, 240), 0 51px 0 rgb(240, 240, 240), 0 -51px 0 rgb(240, 240, 240), 37px -37px 0 rgb(240, 240, 240), 37px 37px 0 rgb(240, 240, 240), -37px -37px 0 rgb(240, 240, 240), -37px 37px 0 rgb(240, 240, 240);
        background: transparent;
    }
    100% {
        -webkit-transform: rotate(-360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    }

    @-moz-keyframes cssload-spin2 {
    0%,
    100% {
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
    50% {
        -moz-transform: rotate(-180deg);
    }
    25%,
    75% {
        box-shadow: 51px 0 0 rgb(240, 240, 240), -51px 0 0 rgb(240, 240, 240), 0 51px 0 rgb(240, 240, 240), 0 -51px 0 rgb(240, 240, 240), 37px -37px 0 rgb(240, 240, 240), 37px 37px 0 rgb(240, 240, 240), -37px -37px 0 rgb(240, 240, 240), -37px 37px 0 rgb(240, 240, 240);
        background: transparent;
    }
    100% {
        -moz-transform: rotate(-360deg);
        box-shadow: 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240), 0 0 0 rgb(240, 240, 240);
    }
}